source ./.venv/bin/activate

export SCENARIO_RUNNER_ROOT=$PWD/scenario_runner
export LEADERBOARD_ROOT=$PWD/leaderboard
export CARLA_ROOT=$PWD/carla
export PYTHONPATH="${SCENARIO_RUNNER_ROOT}":"${LEADERBOARD_ROOT}":"${CARLA_ROOT}":"${PYTHONPATH}"
