[submodule "leaderboard"]
	path = leaderboard
	url = git@github.com:carla-simulator/leaderboard
[submodule "scenario_runner"]
	path = scenario_runner
	url = git@github.com:carla-simulator/scenario_runner
[submodule "carla-python-stubs"]
	path = carla/carla-python-stubs
	url = git@github.com:mathiaswold/carla-python-stubs
